body {
  height: 100vh;
  font-family: Poppins;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 80%;
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.hero-text {
  text-align: center;
  width: 584px;
}

.hero-title {
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 0;
  color: hsl(234, 12%, 34%);
}

.hero-subtitle {
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
  color: hsl(234, 12%, 34%);
}

.hero-description {
  color: hsl(229, 6%, 66%);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 28px;
}

.card {
  border-radius: 5px;
  padding: 30px;
  height: 200px;
  box-shadow: 0 10px 10px hsla(229, 6%, 66%, 0.2);
  background-color: white;

  display: flex;
  flex-direction: column;
}

.supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.center-card {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.card-title {
  color: hsl(234, 12%, 34%);
  margin-top: 0;
  margin-bottom: 14px;
}

.card-description {
  font-size: 14px;
  color: hsl(229, 6%, 66%);
  margin-top: 0;
  flex: 1;
}

.card img {
  align-self: flex-end;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 375px) {

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .card {
    width: 90%;
  }

  .center-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    max-width: 342px;
  }

  .hero-title,
  .hero-subtitle {
    font-size: 24px;
  }

  .hero-description {
    font-size: 16px;
  }
}